@import "tailwindcss";

@theme {
  --color-noche: #14171f;
  --color-papel: #e8e2d3;
  --color-amanecer: #d9a441;
  --color-musgo: #5b8c7b;
  --color-texto-claro: #f2efe6;
  --color-texto-oscuro: #1e2027;

  --font-voz: "Literata", serif;
  --font-cuerpo: "Karla", sans-serif;
}

body {
  background: var(--color-noche);
  color: var(--color-texto-claro);
  font-family: var(--font-cuerpo);
}
